@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gogh Book';
    src: url('Gogh-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gogh';
    src: url('Gogh-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gogh';
    src: url('Gogh-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gogh';
    src: url('Gogh-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root{
    --color-primary:orange;/* цвет с акцентом в логотипе,заголовки при наведении*/
    --color-secondary:#644F43;/*цвет кнопок*/

    --color-background:#ffffff;
    --color-background-secondary:#F0F0F0;
    --color-background-tertiary:#F0F0F0;

    --color-button-background:#000;/**/

    --color-warning:red;

    --color-text:#251a00;
    --color-text-secondary:;
    

    --border:;
    --border-radius:;
    --font-family: "Gogh", sans-serif;
    --second-family: "Fira Sans", sans-serif;
    --padding:24px;
    --container-width: 862px;
    --container-padding-x: 32px;
    --section-padding-y:100px;
    --section-padding-x:260px;/*в шпаке 261 по макету 259*/
    --input-height:78px;/**/

    --transition-duration: 0.2s;
}
.container {
    /* max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x); */
    margin: 0 auto;
    margin-inline: auto;
    max-width: 1402px ;
  }
  @media (max-width: 1919px) {
    .container{
        /* padding:0 84px; */
        max-width: 1198px;
    }
  }
  @media (max-width: 1366px) {
    .container{
        /* padding:0 84px; */
        max-width: 1198px;
    }
  }
  @media (max-width: 1024px) {
    .container{
        /* padding:0 40px; */
        max-width: 944px;
    }
  }
  @media (max-width: 768px) {
    .container{
        max-width:688px;
    }
  }
  @media (max-width: 374px) {
    .container{
        /* padding:0 20px; */
        max-width: 374px;
    }

  }
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
  
  @media (max-width: 1023px) {
    .hidden-mobile {
      display: none !important;
    }
  }
  
  @media (min-width: 1024px) {
    .visible-mobile {
      display: none !important;
    }
  }
body{
    font-family: var(--font-family), Arial, sans-serif;
    font-size:22px;
    line-height: 1.2;
    color:var( --color-text);
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
a{
    text-decoration:none;
    color:inherit;
}

a:hover{/**/
    color:var(--color-secondary);
}
h1,h2,h3,h4{
    font-weight: 500px;
}
h1{
    font-size: 32px;
    /*font-size:clamp(32px,18px)*/
}
h2{
    font-size: 40px;
}
h3{}
h4{}
.page-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f4f4f4 url("../assets/images/image.jpg") no-repeat center center;
    background-size: cover; /* Изображение растягивается, чтобы покрыть весь контейнер */
    border-radius: 40px;
}
.header{
    margin-top:10px
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    color:var(--color-text);
    background: var(--color-background);/**/
    border-radius: 160px;
    padding: 10px 20px;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.25);
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.header__menu-list{
    display:flex;
    column-gap:8px;
    padding: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-text);
}
.header__menu-link{
    display: inline-flex;
    align-items: center;
    /* height:34px; */
    padding: 8px 16px;
    border-radius:50px;
    white-space: nowrap;
}
.header__menu-link.is-current{
    background: rgba(0, 0, 0, 0.1);
}
.header__addres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    white-space: nowrap;
    font-weight: 500;
    line-height: 100%;
    color: #000;
}
.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.hero__title{
    margin-top: 167px;
    color:#ffffff;
}
.hero__logo{
    margin-top: 30px;
}
.hero__logo::after{
    content: "";
    display: inline-block;
    width: 806px;
    height: 298px;
    background: url(../assets/images/big_logo.svg) no-repeat center;
    background-size: contain;
}
.hero__stats-list {
    position: relative;
    top: 75px;
    display: flex;
    justify-content: space-between;
    /* column-gap: 36px; */
    gap:50px;
    margin-top: 167px;
}

.hero__stats-item{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 26px;
    padding: 26px;
    backdrop-filter: blur(150px);
    background: rgba(220, 220, 220, 0.6);
    border-radius:40px;
    flex: 1;
    text-align: left;
}
.hero__stats-item:hover{
    color: var(--color-secondary);
    backdrop-filter: blur(256px);
    background: rgba(255, 255, 255, 0.5), #f0f0f0;
}
.hero__stats-number{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}

.stores{
    margin-top:220px;
    margin-bottom: 100px;
}
.stores__heading{
    display: flex;
    align-items: center;
    gap:12px;
}
.stores__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.stores__item {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    height: 274px;
    flex: 1 1 calc(33.33% - 48px);
}
.stores__title{
    position: absolute;
    bottom: 32px;
    left: 32px;
    padding: 10px 24px;
    background: #ffffff;
    border-radius: 50px;
    font-size: 16px;
    color: var(--color-text);
    white-space: nowrap;
    z-index: 3;
}
.stores__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0,0,0); 
    transition: background-color 0.5s ease; 
    z-index: 1; 
   
  }
  .stores__icon {
    position: absolute;
    top: 20%;
    right: 1%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
  }

.stores__item:hover::before {
  background-color: rgba(0, 0, 0, 0.35); 
}
.stores__item:hover .stores__icon {
  opacity: 1; 
}
.stores__item:hover .stores__title {
  background-color: #EF7723; 
  color: white; 
  transition: all 0.5s ease;
}
.stores__item--large{
    flex: 1 1 calc(50% - 48px);
}
@media(max-width:768px){
    .stores__item {
        flex: 1 1 calc(50% - 48px);
        max-width: 100%;
    }

    .stores__item:nth-child(3) {
        flex: 1 1 100%;
}
}
@media(max-width:414px){
    .stores__item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
.stores__item--extra-large{
}
.stores__item-1{
    background: url(../assets/images/Карточка\ деятельности1.jpg) no-repeat center center / cover;
}
.stores__item-2{
    background: url(../assets/images/Карточка\ деятельности2.jpg) no-repeat center center / cover;
}
.stores__item-3{
    background: url(../assets/images/Карточка\ деятельности3.jpg) no-repeat center center / cover;
}
.stores__item-4{
    background: url(../assets/images/Карточка\ деятельности4.jpg) no-repeat center center / cover;
}
.stores__item-5{
    background: url(../assets/images/Карточка\ деятельности5.jpg) no-repeat center center / cover;
}
.stores__item-6{
    background: url(../assets/images/Карточка\ деятельности6.jpg) no-repeat center center / cover;
}
.feedback { 
    padding: 100px 0;
    background: url('../assets/images/image2.jpg') no-repeat center center / cover;
    font-size: 22px;
}

.feedback__container {
    padding: 64px;
    background: #fff;
    border-radius: 70px;
}

.feedback__heading {
    line-height: 1;
    font-weight: 700;
    margin-bottom: 64px;
}

.feedback__subheading {
    margin-bottom: 64px;
}

.feedback__form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.feedback__field {
    flex: 1 1 calc(33.33% - 48px);
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.feedback__field:not(.feedback__field--full) {
    padding-bottom: 38px;
}

.feedback__field--full {
    flex: 1 1 100%;
}

.feedback__label {
    margin-bottom: 16px;
}

.feedback__input {
    line-height: 1;
    padding: 22px;
    background: #f8f7f7;
    border: none;
    border-radius: 8px;
}

.feedback__input:focus {
    outline: none;
}

.feedback__input[aria-invalid="true"] {
    background: rgba(255, 64, 64, 0.2);
    color: #ff4040;
}

.feedback__input--textarea {
    min-height: 216px;
    resize: none;
    padding-bottom: 12px;
}

.feedback__errors {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
    font-size: 14px;
    color: #ff4040;
    line-height: 1.25;
}

.feedback__errors:empty {
    display: none;
}

.feedback__footer {
    flex: 1 1 100%;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.feedback__button {
    padding: 22px 36px;
    background: var(--color-secondary);
    color: #fff;
    border: none;
    border-radius: 90px;
    font-size: 20px;
    text-wrap: nowrap;
    cursor: pointer;
}

.feedback__button:hover {
    background: #a16a3a;
}

.feedback__note {
    line-height: 1.4;
    align-self: center;
    font-size: 18px;
    text-decoration-skip-ink: none;
}

.feedback__link {
    text-decoration: underline;
}

.feedback__link:hover {
    text-decoration: none;
}
@media (max-width: 1366px) {
    .feedback__container {
        padding: 46px;
        border-radius: 60px;
    }
}
@media (max-width: 1024px) {
    .feedback__container {
        padding: 36px;
        border-radius:50px;
    }
    .feedback__note{
        font-size: 16px;
    }
    .feedback__button {
        padding: 22px 26px;
    }
}
@media (max-width: 768px) {
    .feedback__container {
        padding: 36px;
    }
    .feedback__field {
        flex: 1 1 100%;
    }
    .feedback__footer {
        flex-direction: column;
        font-size: 14px;
    }
    .feedback__container {
        padding: 36px;
    }
}
@media (max-width: 414px) {
    .feedback__button {
        font-size: 16px;
        padding: 16px 24px;
    }
}
/* Секция новостей */
.news {
    border-radius: 70px;
    padding: 100px 0;
}

.news__container {
    margin: 0 auto;
}

.news__heading {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 64px;
}

/* Слайдер */
.news__slider {
    position: relative;
    overflow: hidden;
}

.news__slider-wrapper {
    display: flex;
    /* gap:24px; */
    transition: transform 0.5s ease;
}

.news__item {
    flex: 0 0 calc(25% ); /* 3 слайда с учётом отступов */
    /* margin-right: 24px; */

    overflow: hidden;
    position: relative;
    padding: 24px;
}

.news__item:hover {
    background: #f8f7f7;
    border-radius: 30px;
    cursor: pointer;
}
.news__image {
    width: 100%;
    height: 302px;
    border-radius: 30px;
    margin-bottom: 24px;
    object-fit: cover;
}

.news__title {
    font-weight: 500;
    font-size: 22px;
    /* Ограничение в 2 строки с многоточием */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Кнопки навигации */
.news__slider-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
    /* transition: background 0.3s ease; */
}

.news__slider-button:hover {
    background: #f0f0f0;
}

.news__slider-button--prev {
    left: -1%;
}

.news__slider-button--next {
    right: -1%;
}

@media (max-width: 1366px) {
    .news__item {
        flex: 0 0 calc(25% ); 
    }
    
    .news__image {
        width: 252px;
        height: 186px;
    }
    .news {
        border-radius: 0 0 60px 60px;
        padding: 14px 0;
    }
    .news__heading {
        margin-bottom: 46px;
    }

}
@media (max-width: 1024px) {
    .news__item {
        flex: 0 0 calc(33% - 20px); 
    }
    .news {
        border-radius:50px ;
        padding: 46px 0;
    }
    .news__heading {
        margin-bottom: 36px;
    }
}
@media (max-width: 768px) {
    .news__item {
        flex: 0 0 calc(50% - 20px); 
    }
    .news {
        padding: 36px 0;
    }
}
@media (max-width: 414px) {
    .news__item {
        flex: 0 0 calc(80% ); 
    }
    .news {
        padding: 32px 0;
    }
}